<div class='container'>
  <h1 class="text-center"> Creador de color </h1>

  <div class='row justify-content-center'>
    <input type="text" value="160" data-fgColor="rgb(160,0,0)" class="dial" id="red" data-min="0" data-max="255">
    <input type="text" value="160" data-fgColor="rgb(0,160,0)" class="dial" id="green" data-min="0" data-max="255">
    <input type="text" value="160" data-fgColor="rgb(0,0,160)" class="dial" id="blue" data-min="0" data-max="255">
  </div>

  <h5 id='textito' class='text-center'></h5>
  <div class='row' id='cuadradito'><div class='col-md-12'></div></div>
</div>